<?xml version="1.0" encoding="UTF-8" ?>
<java version="1.6.0" class="java.beans.XMLDecoder">

	<!-- nickserv identifier plugin -->
	<object class="NickServ" id="ns">
		<void property="password">
			<string>l0lp4ss!</string>
		</void>

	</object>

	<!-- cards game -->
	<object class="Cards" id="cards">
		<void property="channel">
			<string>#cards</string>
		</void>

		<void method="createGame">
			<string>blacks.txt</string>
			<string>whites.txt</string>
		</void>
	</object>

	<!-- setup the client object -->
	<object class="Client" id="client">
		<void property="host">
			<string>sphinx.jaundies.com</string>
		</void>

		<void property="port">
			<int>6667</int>
		</void>

		<void property="nick">
			<string>Cards</string>
		</void>

		<void method="registerPlugin">
			<object idref="ns" />
		</void>

		<void method="registerPlugin">
			<object idref="cards" />
		</void>
		
		<void method="connect" />

	</object>
</java>
